# Kopieer dit bestand naar .env en vul je private key in
# Deel .env NOOIT met anderen en voeg het NOOIT toe aan git!
PRIVATE_KEY=jouw_private_key_hier
LUKSO_FAIR_UP=0xfBC4ba2bBC9213595fd455A1d49a42CAeDFD0123
